 <!--Section 3 Menu Show in Desktop Only -->
  <!--
  <div class="container ">
    <div class="columns mb-3 ">
      <div class="column image  mb-menu-column">
        <a href="page/about.html"><img class="mb-menu" src="asset/photo/mobile-3.png"></a>
        <div class="bottomleft kanit">Mobile Story <span class="kanitlight"><br>เกี่ยวกับโมบายล์ BNK48</span></div>
      </div>
      <div class="column image  mb-menu-column">
        <a><img class="mb-menu" src="asset/photo/mobile-4.jpg"></a>
        <div class="bottomleft kanit">ตู้เพลงโมบิล</div>
      </div>
      <div class="column image  mb-menu-column">
        <a href="page/onpress1.html"><img class="mb-menu" src="asset/photo/mobile-7.png"></a>
        <div class="bottomleft kanit">Mobile On Press</div>
      </div>
      <div class="column image  mb-menu-column">
        <a><img class="mb-menu" src="asset/photo/mobile-6.png"></a>
        <div class="bottomleft kanit">Road to Kami 7</div>
      </div>
    </div>
  </div>
  <br>
  -->
  <!--2column Section / Section 5-->