<br>
<div class="container">
  <div class="columns">
    <div class="column is-7">
      <div class="hero is-primary my-hero-body-2 mb-mobile-80">
        <script src="asset/countdown.js"></script>
        <h2 class="subtitle is-4 acenter">BNK48 6th Senbutsu General Election</h2>
        <h4 class="title is-2 acenter mb-count" id="timer"></h4>
      </div>
      <br>

      <div class="column is-5">

      </div>
    </div>
  </div>
</div>
<br>