/*Thank you so much https://htmlcolorcodes.com/color-names/   */
.lightpink{
    background-color: lightpink;
}
.aquamarine{
    background-color: aquamarine;
}
.thistle{
    background-color: thistle;
}
.pink{
    background-color: pink;
}
.hotpink{
    background-color: hotpink;
}
.paleturquoise{
    background-color: paleturquoise
}
.turquoise{
    background-color:turquoise;
}
.plum{
    background-color: plum;
}
.greenyellow{
    background-color: greenyellow;
}
.lawngreen{
    background-color: lawngreen;
}
.mediumspringgreen{
    background-color: mediumspringgreen;
}
.lightsalmon{
    background-color: lightsalmon;
}