/*Important CSS*/
.kanit{
    font-family:'kanit',sans-serif;
}
.kanitlight{
    font-family: 'kanit',sans-serif;
    font-weight: 300;
}
.acenter{
    text-align: center;
}
.piccenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.flex{
    display: flex;
}
div.flex-2{
    display: flex;
    flex-wrap: wrap;
}
.white{
    color:white;
}
/*Important component*/
.mb-badge-1{
    border-radius: 2em;
    padding-left:0.5em;
    padding-right:0.5em;

}
/*main bar*/
.my-hero-pink{
    /*
    thank you svgbackgrounds.com
    */
    color:white;
    background-color: #3e3e11;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.72'%3E%3Cg stroke='%23f71eff' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23e621ed' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23d523db' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23c424ca' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23b424b9' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23a424a8' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23942497' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23842387' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23752177' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23661f68' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23571d59' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23491b4a' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%233b183c' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%232e142e' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23211121' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23150914' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23000000' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.my-hero-pink-2{
    background-color: #ffc0cb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1411' height='1411' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.47'%3E%3Cg stroke='%23ff7fd9' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23ff85dd' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23ff8be0' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23ff91e4' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23ff97e7' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23ff9dea' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23ffa3ed' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23ffa9f0' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23ffb0f2' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23ffb6f4' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23ffbcf6' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23ffc2f8' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23ffc8fa' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23ffcefb' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23ffd4fc' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23ffdafd' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23ffe0fe' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.hero-my-medium {
    height: 400px;
}
.mobile-1{
    margin-top:20px;
    height:380px;
    margin-left: auto;
    margin-right: auto;
}

.my-hero-body-1{
    margin-top:0em;
    padding-top: 0em;
    border-top:0em;
}
.my-is-7{
    padding-top:4.8em;
    padding-bottom: 3em;
}
hr.my-hr{
    margin-bottom: 1em;
    background-color: gray;
}
/*Section 2*/
.section2-contain{
    margin-top:1em;
}
.mb-qoute-1{
    margin-top:1em;
    font-size: 24px;
}
.mobile-2{
    width:  240px;
    height: 300px;
    /*From w3school.com*/
    border: 1px solid #ddd;
    padding:0.48em;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mb-social{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottomleft {
    position: absolute;
    bottom: 24px;
    left: 52px;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.mb-menu{
    width:  150px;
    height: 150px;
    opacity: 0.7;
    animation-duration: 4.8s;
}
.mb-menu:hover{
    opacity: 1;
}
/*Election info Homepage*/
.my-hero-option{
    border-radius: 50%;
    height:280px;
    width:280px;
    padding:0.2em;
}
.mb-icon-election{
    padding:0.7em;
    padding-top:0.1em;
    padding-bottom:0em;
    font-size: 72px;
}
.mb-election-p{
    margin:0em;
    margin-left:0.1em;
    margin-right:0.1em;
    position: relative;
}
.mb-button-little{
    padding:0.2em;
    padding-top:0.1em;
    padding-bottom:0.1em;
    margin-top:0.2em;
}
.mb-election-circle-logo{
    padding-top:0.5em;
    width:100px;
    height:120px;
}
/*Election On Click*/
.modal-card{
    margin-top:2em;
}
/*Section4*/
hr.my-hr-2{
    margin-bottom: 1em;
    background-color: gray;
}
.my-hero-body-2{
    border-radius: 0.5em;
    padding:1.2em;
}
/*Purpose*/
.mb-hero-purpose{
    margin:1em;
    border-radius:2em;
    height:80px;
    max-width:320px;
}
.mb-hero-purpose .hero-body{
    padding-top:0.2em;
    padding-bottom: 0.2em;
    padding-left:0.5em;
}
.mb-is3-purpose{
    padding-top:1.5em;
    padding-left:1em;
    margin-bottom: 0em;
}
.mb-is9-purpose{
    padding-top:0em;
}
/*Donation Source*/
.donation-source-logo{
    width: 120px;
    height:80px;
}
/*section6*/
img.support-coin{
    width:120px;
    height:120px;
    border-radius: 1em;
    opacity: 0.6;
    animation-duration: 4.8s;
}
img.support-coin:hover{
    opacity: 1;
}
div.main-coin{
    opacity: 0.6;
    animation-duration: 2s;
}
div.main-coin:hover{
    opacity: 1;
}
/*footer*/
.mb-footer{
    height: 100px;
    background-color: #ffc0cb;
}
p.footer-p{
    padding-top:1em;
}
/*Onpress.html*/
img.mb-onpress{
    width:auto;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 769px), print {

    .hero.is-medium .hero-body {
      padding-bottom: 0em;
      padding-top: 0em;
    }
    .my-h1-title{
        font-size: 60px;
    }
    .my-h1-sub{
        font-size: 36px;
    }
    .mb-qoute-1{
        width: 80%;
    }
    .partner-mobile-only{
        display: none;
    }
    .mb-cpt-80{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .mb-cpt-60{
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .my-is6-cpt-1{
        font-size: 20px;
    }
  }
@media screen and (max-width: 769px), print {
    .mobile-1{
        margin-top:10px;
        height:250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .my-is-7{
        padding-top:0em;
        padding-bottom: 0em;
        text-align: center;
    }
    .hero-my-medium {
        height: 480px;
    }
    .my-h3-sub{
        padding-top:0em;
        font-size: 16px;
    }
    .my-h1-sub{
        padding-bottom: 0.2em;
    }
    hr.my-hr{
        padding-top:0em;
        padding-bottom: 0em;
        display: none;
    }
    .mb-qoute-1{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .mb-social{
        width: 80%;
        text-align: center;
    }
    .mb-3{
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .mb-count{
        font-size: 24px;
    }
    .mb-mobile-80{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .mb-mobile-90{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .partner-fullscreen-only{
        display: none;
    }
    .flex-mb-3{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .main-coin{
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .my-is6-cpt-1{
        font-size: 16px;
    }
  }
/*Animation*/
.scroll-smooth{
    animation-duration: 4s;
}